#menu{
    position: fixed;
    background-color: #333;
    display: flex;
    height: 5.5vh;
    min-height: 4em;
    width: 100vw;
    margin-left: -.5em;
    margin-top: -.5em;
    align-items: center;
    justify-content: center;
}

#menu div{
    color: white;
    font-size: 1.25em;
    font-weight: bold;
}

#menuButton{
    padding-left: 30px;
}

#logButton{
    display: flex;
    margin-left: auto;
    width: auto;
}

#logButton button{
    color:white;
    font-size: 1.25em;
    font-weight: bold;

    margin-right: 1.5em;
    border: 3px solid blue;
    background-color: blue;
    border-radius: 5px;
    padding: .45em;
}

#logButton button:hover{
    background-color: lightblue;
    color:black;
}